.main{
    display: flex;
    flex-direction: column;
}

form {
    background-color: var(--ll-grey);
    margin: auto;
    padding-left: calc(var(--spacer-unit)*0.3);   
    }

form h1, form p{
    text-align: center;
    align-items: center;
    margin-bottom: calc(var(--spacer-unit)*0.3);
}


input[type=text],
input[type=email],
input[type=phone] {

    height: 2rem;
    margin: 10px;
    padding: 2px;
    border: solid 2px var(--grey);
    border:none;
    border-radius: 10px;
    background-color: var(--l-grey);
    padding: 20px;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    color: var(--l-red);
    font-size: large;
    

}
input:active,input:focus{
    outline: solid 2px var(--l-red);
    border: solid 2px var(--red);
    background-color: var(--post-odd);
    color: var(--grey);
}
input:disabled{
    color: var(--grey);
    /* background-color: var(--post-even); */
    user-select: none;
    
}

.profile-header, .profile-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--ll-grey);
    margin: 0 var(--spacer-unit);
    padding: calc(var(--spacer-unit)*0.25) 0;
    
    
}
.profile-header img {
    border-radius: 50%;
    padding: var(--inner-radius);
}
.profile-header div{
display: flex;
flex-direction: column;
margin: 0 var(--spacer-unit);
}

.profile-header div label, 
.profile-main label {
    margin: 0 var(--inner-radius);
    width: calc( var(--spacer-unit)*3);
    
}

.profile-main{
    padding-left: calc( var(--spacer-unit)*1);
    flex-direction: column;    
}
.profile-main input{
    width: calc( var(--spacer-unit)*3);
}